<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>504137637229-6952oshr0qvo88nid8ihv0od96c9i8g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504137637229-6952oshr0qvo88nid8ihv0od96c9i8g3</string>
	<key>API_KEY</key>
	<string>AIzaSyAs4qjq9GEA5dNhoQIiX7oUFwXrrIiToOw</string>
	<key>GCM_SENDER_ID</key>
	<string>504137637229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Inclusive.Inclusive</string>
	<key>PROJECT_ID</key>
	<string>inclu-af7f5</string>
	<key>STORAGE_BUCKET</key>
	<string>inclu-af7f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504137637229:ios:5f2706b6c28d17d4</string>
	<key>DATABASE_URL</key>
	<string>https://inclu-af7f5.firebaseio.com</string>
</dict>
</plist>